.productCard{
display:flex;
flex-wrap: wrap;
}
.priceText{
text-decoration-line: line-through;
text-decoration-color: red;
}
.cardBox{
flex: 1 0 21%;
transition: all 0.3s ease-out;

}
.headerCategory{
border-bottom: 2px solid black;
}

.tkIcon{
width:15px; height:15px;margin-top:3px;margin-right:2px;
}

//addtocart button


//rating

.checkedStar{
color: #eb9c0d;
}
//cart Item
.cartItem{
height: 10%;
width:100%;
background-color:black;
}

//removebuttonFromCartItem




.close-container{
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color:#F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.labelR{
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
}
.close-container:hover .labelR{
  opacity: 1;
}

//Emptycardcoffee

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.cardBox:hover {
 transition: all 0.3s ease-out;
transform: scale(1.1);
}

//cartCard





