<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="footer">



  <!-- Footer -->
  <footer class="bg-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <a class="navbar-brand" href="/"><img  style="width:100px" src="../icons/abcIcon.png" /> </a>

          <ul class="list-inline mt-4" style="margin-left:18px">
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook fi"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram fi"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="whatsapp"><i class="fa fa-whatsapp fi"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a class="link" href="#" >For Women</a></li>
            <li class="mb-2"><a class="link" href="#" >For Men</a></li>

          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Registration</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a class="link" href="#" >Login</a></li>
            <li class="mb-2"><a class="link" href="#">Register</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
          <p class="link mb-4" >ABC STORE is a range of authentic personal care products, which has a large number of COSMETIC TOILETRIES. It created with a vision to provide the community with pure lifestyle solutions.
            100% Genuine products imported from DUBAI.</p>

        </div>
      </div>


    <!-- Copyrights -->

      <div class="container text-center py-4">
        <p class="mb-0 py-2">© 2021 ABC ENTERPRISE All rights reserved.</p>
      </div>
    </div>
  </footer>

</div>

</body>
</html>